:root{
	--mainColor:#0d0e10;
	--secondaryColor:#121417;

	--borderColor:#000000;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#fff;

	--previewBg:rgb(63, 63, 63, 0.8);
	--previewShadow:#010508;


	--buttonColor:#17a2b8;


}
