:root{
    --mainColor:#463448;
    --secondaryColor:#382a3f;

    --borderColor:#162914;

    --mainText:#fff;
    --secondaryText:#e0e0e0;

    --themedotcolor:#fff;

    --previewBg: rgba(29, 21, 32, 0.8);
    --previewShadow: #2b262f;

    --buttoncolor: #8534a3; 
}